.navbar{
    padding: 0;
}
.collapse 
{
    margin: 0 0 0 72px;
}
.navbar-nav, .navbar-light .navbar-brand{
    padding-top: 0;
    padding-bottom: 0;
}
.nav-link{
    padding-top: 0;
    padding-bottom: 0;
    height: 100px;
    line-height: 100px;
}
.nav-item::after 
{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .2s;
}

.nav-item:hover::after
{
    width: 100%;
}
.upper-nav
{
    color: rgb(202, 202, 202);
}
.item-icon,.border-before
{
    position: relative;
}
.item-icon
{
    font-size: 20px;
    color : rgba(255, 255, 255, 0.801);
}
.item-icon::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.801);
}
.border-before::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.801);
}